.SpecsList {
    list-style: none;
    text-align: left;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.SpecsList__Spec {
    flex: 2;
    overflow: hidden;
    text-align: left;
    margin-bottom: 10px;
    border: thin solid rgba(129, 199, 132, .6);
}

.SpecsList__Spec__Header {
    background: rgba(129, 199, 132, .6);
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.SpecsList__Spec.error {
    border: thin solid rgba(255, 138, 101, .6);
}

.SpecsList__Spec.error .SpecsList__Spec__Header {
    background: rgba(255, 138, 101, .6);
}

.SpecsList__Spec__Header > * {
    flex: 1;
    font-size: 18px;
    font-weight: 600;
}

.SpecsList__Spec__Header > *:last-of-type {
    text-align: right;
}

.SpecsList__Spec__TestList {
    list-style: none;
    padding: 20px;
}

.SpecsList__Spec__TestList__Test {
    margin-bottom: 10px;
}

.SpecsList__Spec__TestList__Test .material-icons.error {
    color: rgb(255, 138, 101);
}

.SpecsList__Spec__TestList__Test .material-icons {
    margin-right: 10px;
    font-weight: 600;
    color: rgb(129, 199, 132);
}