.PieChartComponent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.PieChartComponent>* {
    flex: 1;
}

.PieChartComponentStats {
    height: 40px;
    max-height: 40px;
    display: flex;
    flex-direction: row;
}

.PieChartComponentStats>* {
    flex: 1;
    font-weight: 500;
    font-size: 24px;
    padding: 8px 16px;
}

.PieChartComponentStats>*:first-of-type {
    color: rgb(129, 199, 132);
    text-align: right;
}

.PieChartComponentStats>*:last-of-type {
    color: rgb(255, 138, 101);
    text-align: left;
}

.PieChartContainer {
}