.DashboardWidgetContainer {
    display: flex;
    flex-direction: row;
}

.DashboardWidgetContainer>.overallResults {
    flex: 1;
    overflow: hidden;
}

.DashboardWidgetContainer>.suites {
    flex: 2;
    padding: 20px;
}
